*{
    overflow-x: hidden;
}
    

.collapse{
    justify-content: flex-end;
}


.navbar-brand img{
    height: 100px;
    width: 100px
}
.container-md{
    background-color: #4f4848;
}
.container-fluid{
    background-color: #282424;
}

.collapse .sign-up .log-in{

    padding-right: 15px;

}
.navbar-toggler{
    background-color: #4f4848 !important;
    
}


.spotify-logo{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    float: right;
width:140px;


}                             
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.spotify-logo img{width:100%;
    justify-content: left;
    padding-left: 20px;
}

.sign-up{
    border-radius: 20px;
    color:#838181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
}


 .login-btn .sign-up{
    color:#838181;
    font-size: 16px;
    font-weight: 600;
}
.login-btn .sign-up:hover{
    color:#fff;
} 
     .login-btn .log-in{
        color:#080303;
        font-size: 16px;
        font-weight: 600;
        background:#a39797;
        padding:10px 15px;
        border-radius: 20px;
     }
      .login-btn .log-in:hover{
        background-color: #f7f4f4;
     } 
 .main{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
 } 
    
     .main-section{
        margin-left: 300px;
        background: #262424;
        height: 100vh;
        overflow: auto;
    } 
.audio{
    width:250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    background-color: #272727;
    color: white;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 1em;
    border-radius: 5px;

}
.audio img{
    width:100%;
border-radius: 6 px;
    margin-bottom: 10px;

}
.audio h4{
    font-weight: 500;
    font-size: medium;
    margin: 0.5em;
    color: #d4c8c8;
}
.audio{
    font-size: small;
    font-weight: 300;
    text-align: center;
    margin: 0.5em;
} 
 .play-btn{
    position: relative;
}

 h4{
    color:#fff;
 }
p{
    color:#918585;
    font-size: 13px;
     margin-top: 10px;
   }
   p:hover{
      text-decoration: underline;


   }
   

    .play-btn{
    position: relative;
   }  
  
   
    .play-btn i{
    position: absolute;
   background: #1cc055;
   border-radius: 50%;
    padding:10px;
    right: 8px;
    top:-40px;
    opacity: 0;
    transition: 0.3s ease all;
  }
  .audio:hover  .play-btn i{
   opacity: 1;
   transform: translateY(-20px);
   } 