.container-md{
    background-color: #4f4848;
}
.container-fluid{
    background-color: #282424;
}

.collapse .sign-up .log-in{

    padding-right: 15px;

}
.navbar-toggler{
    background-color: #4f4848 !important;
    
}


.spotify-logo{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    float: right;
width:140px;


}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.spotify-logo img{width:100%;
    justify-content: left;
    padding-left: 20px;
}

.sign-up{
    border-radius: 20px;
    color:#838181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
}


 .login-btn .sign-up{
    color:#838181;
    font-size: 16px;
    font-weight: 600;
}
.login-btn .sign-up:hover{
    color:#fff;
} 
     .login-btn .log-in{
        color:#080303;
        font-size: 16px;
        font-weight: 600;
        background:#a39797;
        padding:10px 15px;
        border-radius: 20px;
     }
      .login-btn .log-in:hover{
        background-color: #f7f4f4;
     } 
 .main{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
 } 
    
     .main-section{
        margin-left: 300px;
        background: #262424;
        height: 100vh;
        overflow: auto;
    } 
.audio{
    width:250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    background-color: #272727;
    color: white;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 1em;
    border-radius: 5px;

}
.audio img{
    width:100%;
border-radius: 6 px;
    margin-bottom: 10px;

}
.audio h4{
    font-weight: 500;
    font-size: medium;
    margin: 0.5em;
    color: #d4c8c8;
}
.audio{
    font-size: small;
    font-weight: 300;
    text-align: center;
    margin: 0.5em;
} 
 .play-btn{
    position: relative;
}

 h4{
    color:#fff;
 }
p{
    color:#918585;
    font-size: 13px;
     margin-top: 10px;
   }
   p:hover{
      text-decoration: underline;


   }
   

    .play-btn{
    position: relative;
   }  
  
   
    .play-btn i{
    position: absolute;
   background: #1cc055;
   border-radius: 50%;
    padding:10px;
    right: 8px;
    top:-40px;
    opacity: 0;
    transition: 0.3s ease all;
  }
  .audio:hover  .play-btn i{
   opacity: 1;
   transform: translateY(-20px);
   } 
   /* .main-section{
    margin-left: 300px;
    background: #262424;
    height: 100vh;
    overflow: auto;
}
.main-section .top-nav{
    padding: 25px 30px;
    background: #1d1a1a;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.main-section .top-nav button{
    background: transparent;
    outline: 0;
    border:0;
}
.main-section .top-nav .prev-button button{
    color:#838181;
    font-size: 22px;
    margin-right: 20px;
}
.top-nav .login-btn .sign-up{
    color:#838181;
    font-size: 16px;
    font-weight: 600;


}
.top-nav .login-btn .sign-up:hover{
    color:#fff;
} 
    .top-nav .login-btn .log-in{
        color:#080303;
        font-size: 16px;
        font-weight: 600;
        background:#a39797;
        padding:10px 15px;
        border-radius: 20px;


    }
    .top-nav .login-btn .log-in:hover{
        background-color: #f7f4f4;
     }
    .spotify-playlist{
    padding: 20px 40px;}
     .spotify-playlist h2{
      color:#fff;
      font-size: 22px;
      margin-bottom: 20px;
     }
     
     .spotify-playlist .card{
        display:flex;
        gap: 20px;
        overflow: hidden;}
    .spotify-playlist .card .item{
      width: 200px;
     min-width: 140px;
     background-color:#373434;
     cursor:pointer;
     padding: 15px;
     border-radius: 6px;
   }
   
   .spotify-playlist .card .item:hover{
    background-color: #5f5656;
    
 }
   .spotify-playlist .card .item img{
      width:100%;
     border-radius: 6px;
    margin-bottom: 10px;}
    
    .spotify-playlist .item h4{
     color:#fff;
    }
    .spotify-playlist .item p{
     color:#918585;
     font-size: 13px;
      margin-top: 10px;
    }
    .spotify-playlist .item p:hover{
       text-decoration: underline;

      }
      .spotify-playlist .play-btn{
      position: relative;
     }  
    
     
     .spotify-playlist  .play-btn i{
      position: absolute;
     background: #1cc055;
     border-radius: 50%;
      padding:10px;
      right: 8px;
      top:-40px;
      opacity: 0;
      transition: 0.3s ease all;
    }
   .spotify-playlist  .card .item:hover  .play-btn i{
     opacity: 1;
     transform: translateY(-20px);
     }
     .footer-section{
        padding: 20px 40px;
     }
     .footer-section .footer{
        display:flex;
        justify-content: space-between;
        margin-top: 20px;
        color:rgb(235, 221, 221);

    
     }
     .footer-section .footer .footer-links{
        display:flex;
        justify-content: space-between;
        margin-top: 20px;
        color:rgb(228, 216, 216);
        gap:50px;

     }
     .footer-section.footer .footer-links .footer-column{
        margin:0 12px;
      
     }
     .footer-section.footer .footer-links div{
        color:white;
        font-weight:600 ;
        margin-bottom: 12px;
        font-size: 16px;
     }
     .footer-section .footer .footer-links ul li{
        list-style: none;
        margin:6 px 0;
     } 
      .footer-section .footer .footer-links ul li a{
      text-decoration: none;
      color: #7b7373;
      font-size: 14px;
      cursor: pointer;
     }
     .footer-section .footer .footer-links ul li a:hover{
        text-decoration: underline;
        
       color:#fff;
       } 
       .footer .social-link i{
        color:#fff;
        background: #353434;
        padding: 12px;
        border-radius: 50%;
        margin:0 5px;
        cursor: pointer;
       }
       .footer .social-link i:hover{
        background: #474343;
       }
       hr{
        
        
        border:0;
        outline:0;
        border:1px solid #575656;
        margin-top: 40px;
       }
       .copy-right{
        padding:0 40px;
        color:#969393;
        font-size: 15px;
        margin-bottom: 30px;

       }
       .preview{
        display: flex;
        justify-content: space-between;
        background: linear-gradient(to right,#ae2896,#509bf5);
        position: fixed;
        bottom:0;
        right: 0;
        left:0;
        padding:12px 40px;
       }
       .preview h4{
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 10px;
        color:#fff;

       }
       .preview p{
        font-size: 16px;
        font-weight: 400;
        
        color:#fff;

       }
       .preview button{
        padding: 12px 30px;
        border:0;
        outline: 0;
        border-radius: 20px;
        font-size:14px ;
        font-weight: 600;
        color: #000;

       } */
